<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noname: {% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ url_for('static', filename='icon/safari-pinned-tab.svg') }}" color="#932525">
    <meta name="msapplication-TileColor" content="#932525">
    <meta name="theme-color" content="#932525">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <script src="static/clickMenu.js"></script>
</head>
<body class="body">
<nav class="menu">
        <div class="title_menu"><h1>НАВИГАЦИЯ</h1></div>
        <div class="list_menu">
            <ul><a href="/">Стартовая страница</a></ul>
            <ul><a href="/about">О нас</a></ul>
            <ul><a href="/cardKate">О Кате</a></ul>
            <ul><a href="/cardVany">О Ване</a></ul>
            <ul><a href="/cardDany">О Дане</a></ul>
            <ul><a href="/cardOly">Об Оле</a></ul>
            <ul><a href="/cardAnn">Об Ане</a></ul>
            <ul><a href="/zayivka">Оставить заявку</a></ul>
        </div>
    </nav>
{% block body%}{% endblock %}
</body>
</html>